<div>
  <h1>Create New Category</h1>
</div>

<%= form_for(@category) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit 'Submit'%>
  </div>
<% end %>
